<div class="card card-custom">
  <form data-kt-search-element="form" class="w-100 position-relative mb-3" autocomplete="off"
    [formGroup]="resetFormGroup">
    <h5 class="mt-4 mb-3 text-left" style="margin: 10px;">Split  amount group</h5>
    <div class="mb-10 fv-row" style="margin: 10px;">
      <input type="text" class="form-control form-control-lg form-control-solid" name="Total Amount " value=""   formControlName="totalAmount"
        placeholder="Total Amount" data-kt-search-element="input" />
    </div>
    <div class="row" style="width: 100%; ">
      <div style="margin: 10px; ">
        <select class="form-select form-select-solid" data-kt-select2="true" data-placeholder="Select Member Name"
          data-allow-clear="true"   formControlName="memberName">
          <option selected value="Pawani Suriyaarachchi">Pawani Suriyaarachchi</option>
          <option value="Piyumi Herath">Piyumi Herath</option>
          <option value="Nuwani Perera">Nuwani Perera</option>
          <option value="Kapila Jayawardena">Kapila Jayawardena</option>
        </select>
      </div>
      <div style="margin: 10px;">
        <select class="form-select form-select-solid" data-kt-select2="true" data-placeholder="Select divide type"
          data-allow-clear="true"  formControlName="type">
          <option selected value="PERCENTAGE">Precentage</option>
          <option value="FIXED">Fixed</option>
        </select>
      </div>
      <div style="margin: 10px;">
      <input type="text" class="form-control form-control-lg form-control-solid" name="value" value=""
        placeholder="value" data-kt-search-element="input"  formControlName="value"/>
      </div>
    </div>
    <div class="mt-3" style="margin: 10px;">
        <button type="submit" mat-flat-button class="gap-reset-btn gap-btn gap-btn--md gap-btn--width-100 gap-btn--primary"
          (click)="addMember()">
         Add Member
        </button>
      </div>
  </form>
</div>


<div class="card card-custom" style="margin-top: 10%;">
    <div class="card-header card-header-stretch overflow-auto">
     <h3 style="margin-top: 10px">Added member details</h3>
    </div>
      <!-- begin::Body -->
      <div class="card-body">
          <!-- begin::Header -->
          <div class="tab-pane">
            <table >
              <!-- <ng-container matColumnDef="memberName">
                <th mat-header-cell *matHeaderCellDef> Member name </th>
                <td mat-cell *matCellDef="let element"> {{element.memberName}} </td>
              </ng-container>

              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
              </ng-container>

              <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef> Value </th>
                <td mat-cell *matCellDef="let element"> {{element.value}} </td>
              </ng-container> -->

              <!-- <ng-container *ngFor="let dispCol of displayedColumns; let colIndex = index" matColumnDef="{{ dispCol.key }}"> -->
                <!-- <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{ dispCol.header }}
                </th>
                <td mat-cell *matCellDef="let element" class="mat-column-vinCode">
                  <span *ngIf="dispCol.key === 'memberName'">
                    {{ element[dispCol.key] }}
                  </span>
                  <span *ngIf="dispCol.key !== 'type'">
                    {{ element[dispCol.key] }}
                  </span>
                  <span *ngIf="dispCol.key !== 'value'">
                    {{ element[dispCol.key] }}
                  </span>
                </td> -->
                <tr *ngFor="let row of dataSourceObj; let i = index">
                  <td> {{row.memberName}} </td>
                  <td> {{row.type}} </td>
              </tr>
              <!-- </ng-container> -->
              <!-- <tr mat-header-row *matHeaderRowDef="displayedColumnsKeys; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsKeys;"></tr> -->
            </table>
          </div>
      </div>
  </div>
