
<div class="card card-custom">
    <!-- begin::Header -->
    <div class="card-header card-header-stretch overflow-auto">
      <ul
        class="
          nav nav-stretch nav-line-tabs
          fw-bold
          border-transparent
          flex-nowrap
        "
        role="tablist"
      >
        <li class="nav-item">
          <a
            class="nav-link cursor-pointer"
            [ngClass]="{ active: activeTab === 'Header' }"
            (click)="setActiveTab('Header')"
            role="tab"
          >
            Header
          </a>
        </li>
      </ul>
      <div class="me-4">
    <!-- <a
        class="btn btn-sm btn-primary cursor-pointer"
        data-bs-toggle="modal"
        data-bs-target="#kt_modal_create_app"
        id="kt_toolbar_primary_button"
      >
        Create
      </a> -->
    </div>
    </div>
    <!-- end::Header -->
    <!-- begin::Form -->
    <!-- <form class="form"  > -->
      <!-- begin::Body -->
      <div class="card-body">
          <!-- begin::Header -->
          <div class="tab-pane" [ngClass]="{ active: activeTab === 'Header' }">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID. </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="whom">
                <th mat-header-cell *matHeaderCellDef> To whom </th>
                <td mat-cell *matCellDef="let element"> {{element.whom}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef> Amount </th>
                <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="paymentDate">
                <th mat-header-cell *matHeaderCellDef> Next Payment Date </th>
                <td mat-cell *matCellDef="let element"> {{element.paymentDate}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="reason">
                <th mat-header-cell *matHeaderCellDef> Reason </th>
                <td mat-cell *matCellDef="let element"> {{element.reason}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns;  sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <!-- end::Header -->
      </div>
      <!-- end::Body -->


      <!-- end::Footer -->
    <!-- </form> -->
    <!-- end::Form -->
  </div>
